
.item{
	height: 650px;
}
.d-img{
	height: 100%;
	object-fit: cover;
	filter: brightness(0.5);
}
.letra1{
	color: white;
}

.cart{
	margin:2em ;
	padding: 1em;
}
.carta{
	border-radius: 8px;
	height: 500px;
	background-color: black;
	text-align: center;
	margin: 3em;
	padding: 2em;
	border-color: white;

}
.carta-imagen{
	height: 100%;
	object-fit: cover;
}
.con{
	background-color: black;
}
.color{
	color: darkred;
}